        
	        <footer>
	            <p>Copyright &copy; __COPY_YEAR_STR__. All rights reserved.</p>
	        </footer>
        </div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="__JSD__/jquery.cookie.js"></script>
		<script>
			$(function() {
				$('body').cookieDisclaimer({
                    style: "dark",
                    position: "bottom",
                    text: "This site uses cookies. By continuing to browse the site, you are agreeing to our use of cookies. Otherwise close this page immediately.",
                    policyBtn: {
                        active: false,
                    }
				});
			});
		</script>
        <script src="__JSD__/default.js"></script>
    </body>
</html>