<!DOCTYPE html>
<html lang="en">
    <head>
        <title>__TITLE__</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<meta name="description" content="some desc">
		<meta name="keywords" content="x,x,x">
		<meta name="author" content="some author">
        <link rel="stylesheet" href="__CSSD__/default.css">
        <link rel="stylesheet" href="__CSSD__/cookie.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <script async src="https://www.googletagmanager.com/gtag/js?id=__ANALYTICS_ID__"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            __ANALYTICS_USER_ID_STR__
            gtag('config', '__ANALYTICS_ID__');
        </script>
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
    	<div id="container">
	    	<div id="logo">
	    		<h1>zWeb</h1>
	    	</div>
	        __INSERT_MENU__
        